# Core packages
streamlit==1.32.2
pandas==2.2.1
numpy==1.26.4
plotly

# Sentence Transformers and Dependencies
sentence-transformers==2.2.2
torch==2.2.1
transformers==4.39.2

huggingface_hub==0.23.1
setuptools==69.1.1
setuptools-scm==8.0.4

# Visualization
matplotlib==3.8.3
seaborn==0.13.2

# Factor Analysis
factor-analyzer==0.4.1

# Statistical Analysis
scipy==1.12.0
pingouin==0.5.4

# Progress bar
tqdm==4.66.2

# Excel file support
openpyxl==3.1.2
